<!DOCTYPE html>
<html>
<head>
    <title>New Claim</title>
</head>
<body>
    <h1>Upload Claim Files</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <br><br>
        <label><input type="checkbox" name="tags" value="photos"> Photos</label>
        <label><input type="checkbox" name="tags" value="policy"> Policy</label>
        <label><input type="checkbox" name="tags" value="floorplan"> Floor Plan</label>
        <br><br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>


